* {

    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 255, 0.712);
    color: white;

}

h1{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(3, 3, 58);
    padding: 10px;
    border-radius: 5px;
}
h2{
    text-align: left;
    margin-left: 100px;
    background-color: rgb(3, 3, 58);
    padding: 10px;
    border-radius: 5px;
}
p{
    text-align: left;
    margin-left: 100px;
}
button{
    
}